<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} \\ Вайбкод</title>
    <link rel="icon" type="image/svg+xml" href="../static/img/logo/logo.svg">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous">
        </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <!-- навигационная панель -->
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <!-- лого -->
            <a class="navbar-brand" href="/index">
                <img class="d-inline-block align-text-center" src="../static/img/logo/logo.svg" alt="Лого" width="50"
                    height="50">
                Вайбкод
            </a>

            <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- страница форума -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Форум</a>
                    </li>
                    <!-- страница написания поста -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/create">Написать пост</a>
                    </li>
                    <!-- страница с постами текущего пользователя -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts">Мои посты</a>
                    </li>
                    {% endif %}
                </ul>

                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <!-- форма поиска постов -->
                        <li class="nav-item">
                            <form class="d-flex" role="search" action="">
                                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"
                                    id="searchInputField">
                                <button class="btn btn-outline-success me-2" type="submit"
                                    id="searchSubmitBtn">Искать</button>
                            </form>
                        </li>
                        <!-- панель уведомлений -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle me-2" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% if notices %}Уведомления*{% else %}Уведомления{% endif %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                {% for notice in notices %}
                                <li>
                                    <div class="mb-3 p-2">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <a href="/post/{{ notice.id }}" class="link-info">
                                                {{ notice.post_header}}</a>
                                        </div>
                                        <small class="text-muted">{{ notice.date.strftime("%d.%m.%Y - %H:%M")
                                            }}</small>
                                        <p class="mb-0"><a href="profile/{{ notice.sender_username }}">
                                                {{notice.sender_username }}</a> оставил комментарий</p>
                                    </div>
                                </li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="/notifications">Прочесть все уведомления</a></li>
                            </ul>
                        </li>
                        <!-- меню авторизованного пользователя -->
                        <li class="nav-item dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                                <li><a class="dropdown-item" href="/logout">Выход</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <!-- кнопка регистрации и входа -->
                        <li class="nav-item">
                            <form class="container-fluid justify-content-start">
                                <button class="btn btn-outline-success me-2" type="button" id="logBtn">Вход</button>
                                <button class="btn btn-sm btn-outline-secondary me-2" type="button" id="regBtn">
                                    Регистрация
                                </button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="../static/js/main.js"></script>
</body>

</html>